/* Header Menu */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(/img/fondo-for.jpg);
}
nav {
    background: #ffffff;
    height: 90px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.sectLogo {
    position: absolute;
    padding: 10px 90px;
}
.logo {
    height: 90px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #3ab128;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.OPC, li a:hover {
    background: #99cccc;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: #3ab128;
    float: right;
    line-height: 90px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* Calendario */
.wrapper {
    width: 90%;
    max-width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    margin: 20px auto;
}
.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .icons {
    display: flex;
}
header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child {
    margin-right: -10px;
}
header .icons span:hover {
    background: #f2f2f2;
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}
.calendar {
    padding: 20px;
}
.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .weeks li {
    width: calc(100% / 7);
    font-weight: 500;
    color: #333;
    padding: 10px 0;
}
.calendar .days {
    margin-bottom: 20px;
}
.calendar .days li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #333;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
}
.days li.inactive {
    color: #aaa;
}
.days li.active {
    color: #fff;
    background: #9B59B6;
    border-radius: 50%;
}
.days li:hover:not(.active) {
    background: #f2f2f2;
    border-radius: 50%;
}
.event-details {
    width: 90%;
    max-width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    margin: 20px auto;
    padding: 20px;
}
.event-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#event-info {
    font-size: 1rem;
    color: #333;
}
.days li.event1{
    background-color: #FFD700; 
    color: #fff;
    border-radius: 50%;
}
.days li.event2{
    background-color: #1E90FF; 
    color: #fff;
    border-radius: 50%;
}
.days li.event3{
    background-color: #32CD32; 
    color: #fff;
    border-radius: 50%;
}
.event-details p {
    display: flex;
    align-items: center;
}
.event-details p::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.event-details .event-1::before {
    background-color: #FFD700;
}
.event-details .event-2::before {
    background-color: #1E90FF;
}

.event-details .event-3::before {
    background-color: #32CD32;
}

@media (max-width: 490px) {
    /* header menu*/
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .checkbtn {
        display: block;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .wrapper, .event-details {
        width: 95%;
        max-width: none;
        margin: 10px auto;
    }
    .calendar .weeks li, .calendar .days li {
        font-size: 0.85rem;
        padding: 5px 0;
    }
    .event-details h2 {
        font-size: 1.2rem;
    }
    #event-info {
        font-size: 0.85rem;
    }
}

/* Tablets (491px a 570px) */
@media (min-width: 491px) and (max-width: 570px) {
    /* header menu*/
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .checkbtn {
        display: block;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .wrapper, .event-details {
        width: 90%;
        max-width: none;
        margin: 10px auto;
    }
    .calendar .weeks li, .calendar .days li {
        font-size: 0.95rem;
        padding: 10px 0;
    }
    .event-details h2 {
        font-size: 1.3rem;
    }
    #event-info {
        font-size: 0.9rem;
    }
}

/* Laptops (571px a 890px) */
@media (min-width: 571px) and (max-width: 890px) {
    nav {
        height: auto; /* Permitir que el nav ajuste su altura automáticamente */
    }
    
    .logo {
        height: 60px; /* Ajustar el tamaño del logo si es necesario */
    }
    
    nav ul {
        margin-right: 10px;
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    }
    
    nav ul li {
        margin: 5px; /* Ajustar margen si es necesario */
    }
    
    nav ul li a {
        font-size: 16px; /* Ajustar el tamaño de la fuente si es necesario */
        padding: 5px 10px;
    }
    
    .checkbtn {
        display: none; /* Ocultar el botón de menú hamburguesa */
    }
    .wrapper, .event-details {
        width: 80%;
        max-width: none;
        margin: 20px auto;
    }
    .calendar .weeks li, .calendar .days li {
        font-size: 1rem;
        padding: 12px 0;
    }
    .event-details h2 {
        font-size: 1.4rem;
    }
    #event-info {
        font-size: 1rem;
    }
}

/* Pantallas mayores a 891px */
@media (min-width: 891px) {
    nav ul {
        display: flex;
    }
    .checkbtn {
        display: none;
    }
    .wrapper, .event-details {
        width: 60%;
        max-width: 600px;
        margin: 20px auto;
    }
    .calendar .weeks li, .calendar .days li {
        font-size: 1.2rem;
        padding: 15px 0;
    }
    .event-details h2 {
        font-size: 1.5rem;
    }
    #event-info {
        font-size: 1.1rem;
    }
}
